
.contest-feedback {
  padding-top: 95px;
  background-color: $bg-color;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 462px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 100% 462px;
  }
}

.contest-feedback__title {
  text-align: center;
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  padding: 0 42px 51px;
  color: $white;
}

.contest-feedback__header {
  background-color: $white;
  text-align: center;
  padding: 47px 20px 32px;
}

@media (min-width: $tablet-width) {
  .contest-feedback {
    padding-top: 180px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 1200px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .contest-feedback__title {
    font-size: 50px;
    line-height: 58px;
    padding-right: 57px;
    padding-left: 62px;
    padding-bottom: 84px;
  }

  .contest-feedback__header {
    padding: 92px 86px 76px 80px;
  }
}

@media (min-width: $desktop-width) {
  .contest-feedback {
    padding-top: 196px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 2560px 853px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px 853px;
    }
  }

  .contest-feedback__title {
    padding: 0;
    padding-bottom: 103px;
  }

  .contest-feedback__header {
    padding: 93px 35px 74px;
  }
}
