.page-header {
  min-height: 66px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: -66px;
  position: relative;
  z-index: 2;
}

@media (min-width: $tablet-width) {
  .page-header {
    min-height: 110px;
    margin-bottom: -110px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    margin-bottom: -131px;
  }

  .page-header__app {
    width: $desktop-width;
    margin: 0 auto;
  }
}
