
.page-footer--index {
  display: none;
}

.page-footer__wrapper {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  margin-bottom: 33px;
}

.page-footer__social {
  margin-bottom: 36px;
}

@media (min-width: $tablet-width) {
  .page-footer--index {
    display: block;
  }

  .page-footer__wrapper {
    width: 640px;
    flex-direction: row;
    padding: 36px 21px 34px 5px;
  }

  .page-footer__social {
    margin-bottom: 0;
    margin-left: 76px;
    margin-right: auto;
  }

  .page-footer__logo {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    box-sizing: border-box;
    width: 940px;
    padding-right: 34px;
    padding-bottom: 74px;
    padding-top: 70px;
  }

  .page-footer__social {
    margin-left: 240px;
  }
}
