
.photo-gallery {
  margin: 0 auto;
}

.photo-gallery__header {
  text-align: center;
  padding: 46px 43px 39px;
}

@media (min-width: $tablet-width) {
  .photo-gallery__header {
    padding: 92px 112px 64px 112px;
  }
}
