
.photo-loading {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.photo-loading__discription {
  background-color: $white;
  padding: 49px 36px;
}

.photo-loading__form {
  width: 100%;
  margin: 0 auto;
  background-color: $white-three;
}
