
.price {
  background-color: $white-three;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
}

.price__wrapper {
  padding-top: 159px;
}

.price__list {
  min-width: 616px;
  margin: 0 auto;
  border-collapse: collapse;
  color: $black;
  position: relative;
}

.price__header-item {
  border-left: 2px solid $white;
  background-color: $bg-color;
  position: relative;
}

.price__header-item--title {
  padding-top: 14px;
  position: relative;
}

.price__header-item--cost {
  padding-bottom: 20px;
  position: relative;
}

.price__header-item--hit::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  display: block;
  width: 74px;
  height: 73px;
  background-image: url("../../img/bg-hit.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 74px 73px;
  z-index: 1;
}

.price__header-item--hit::after {
  content: "Хит";
  position: absolute;
  display: block;
  top: 15px;
  left: 15px;
  color: $white;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: normal;
  line-height: 2.1;
  transform: rotate(-45deg);
  z-index: 1;
}

.price__title {
  color: $white;
  line-height: 1.67;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.price__value-item {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  color: $white;
}

.price__toggles {
  display: none;
}

.price__body-item {
  width: 234px;
  padding: 14px 21px;
  border: 2px solid #e5e5e5;
  background-color: $white;
  box-sizing: border-box;
}

.price__body-item--description {
  text-align: left;
}

.price__description {
  line-height: 1.67;
  font-size: 18px;
  font-weight: 500;
}

.price__value {
  position: relative;
  font-size: 0;
}

.price__value::before {
  content: "";
  display: block;
  position: absolute;
  left: -14px;
  width: 31px;
  height: 26px;
  background-repeat: no-repeat;
}

.price__value--yes::before {
  background-image: url("../../img/icon-yes.svg");
  background-size: 31px 26px;
}

.price__value--no::before {
  background-image: url("../../img/icon-no.svg");
}


@media (max-width: 659px) {
  .price__toggles {
    display: block;
  }

  .price__wrapper {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }

  .price__list {
    width: 840px;
    position: relative;
    transform: translate(-263px);
    transition: 0.5s;
  }

  .price__body-item {
    width: 279px;
  }

  .price__value::before {
    left: 80px;
  }

  .price__body-item--description {
    right: 279px;
    position: absolute;
    margin-left: auto;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
  }
}
