
.rewiew__wrapper {
  margin: 0 auto;
  position: relative;
}

.rewiew__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
  color: $black;
  margin-bottom: 36px;
}

.rewiew__item {
  flex-direction: column;
}

.rewiew__title {
  margin: 0;
  font-size: 18px;
  line-height: 1.67;
  font-weight: 700;
  margin-bottom: 15px;
}

.rewiew__user-about {
  display: none;
  line-height: 2.14;
}

.rewiew__discription {
  padding: 0 25px;
  line-height: 2.14;
  margin: 0;
}

.rewiew__toggles {
  margin-bottom: 38px;
}

.rewiew__toggle-desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .rewiew__item {
    display: flex;
    flex-direction: column-reverse;
  }

  .rewiew__title {
    font-size: 20px;
    margin: 0;
  }

  .rewiew__user-about {
    display: block;
    order: -1;
  }

  .rewiew__discription {
    line-height: 1.67;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 33px;
  }

  .rewiew__toggles {
    margin-bottom: 17px;
  }
}

@media (min-width: $desktop-width) {
  .rewiew__wrapper {
    width: 940px;
    margin-top: 185px;
  }

  .rewiew__list {
    width: 685px;
    margin: 0 auto;
  }

  .rewiew__list::before {
    content: "";
    position: absolute;
    top: -115px;
    left: center;
    display: block;
    width: 79px;
    height: 63px;
    background-image: url("../img/icon-quotes.svg");
    margin-left: 306px;
  }

  .rewiew__title {
    font-size: 24px;
  }

  .rewiew__discription {
    padding: 0;
    margin-bottom: 30px;
  }

  .rewiew__user-about {
    font-size: 18px;
    line-height: 1.67;
  }

  .rewiew__toggle-desktop {
    display: block;
    padding: 0;
    width: 22px;
    height: 50px;
    position: absolute;
    top: 33px;
    background-color: transparent;
    border: none;
  }

  .rewiew_next {
    right: 20px;
  }

  .rewiew__toggle-desktop::before {
    content: "";
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    border: 2px solid rgba($bg-color, $alpha: 0.3);
    transform: rotate(45deg);
  }

  .rewiew_prev::before {
    border-right: none;
    border-top: none;
  }

  .rewiew_next::before {
    left: 0;
    border-left: none;
    border-bottom: none;
  }

  .rewiew__toggles {
    display: none;
  }
}
