
.site-list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: $bg-color;
}

.site-list__item {
  box-sizing: border-box;
  padding: 26px 85px;
  box-shadow: 0 1px 0 0 #000000;
  text-align: center;
}

.site-list__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: $white;
  line-height: 1.78;
}

.site-list__link:hover,
.site-list__link:focus {
  color: $pink;

  &:active {
    color: rgba($color: $pink, $alpha: 0.3);
  }
}

.site-list__link--active {
  color: $pink;
}

@media (min-width: $tablet-width) {
  .site-list {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    width: 640px;
    justify-content: space-between;
  }

  .site-list__item {
    padding: 35px 10px 48px 10px;
    box-shadow: none;
  }

  .site-list__link {
    text-transform: none;
    font-weight: 300;
    line-height: 1;
  }
}
