
.slogan {
  box-sizing: border-box;
}

.slogan__title {
  margin: 0;
  font-size: 24px;
  color: $black;
  font-weight: 300;
}

.slogan__title--photo {
  color: $white;
}

.slogan__discription {
  margin: 0;
  font-size: 14px;
  line-height: 2.14;
  color: $black;
}
