
.slogan {
  box-sizing: border-box;
}

.slogan__title {
  margin: 0;
  font-size: 24px;
  color: $black;
  font-weight: 300;
  padding: 0 28px;
}

.slogan__title--photo {
  color: $white;
}

.slogan__discription {
  margin: 0;
  font-size: 14px;
  line-height: 2.14;
  color: $black;
}

.slogan__bg-image {
  height: 174px;
  background: url("../../img/bg-back-mobile@1x.jpg") no-repeat center center;
  padding-top: 35px;
}
