
.slogan {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.slogan__title {
  margin: 0;
  font-size: 24px;
  color: $black;
  font-weight: 300;
  padding: 0 28px;
}

.slogan__title--photo {
  color: $white;
}

.slogan__discription {
  margin: 0;
  padding: 56px 40px;
  font-size: 14px;
  line-height: 2.14;
  color: $black;
}

.slogan__discription--form {
  padding: 55px 25px;
}

.slogan__bg-image {
  height: 174px;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat center center/ 320px 462px;
  padding-top: 35px;
}
